/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * pinacoladice implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * pinacoladice.css
 *
 * pinacoladice stylesheet
 *
 */

.carre {
    height: 50px;
    width: 50px;
    background-color: red;
    
}

.selectable {
    cursor: pointer;
   
}

.selectable.carre {
    border: 1px solid black;
   
}







